@import "../../scss/index.scss";

.header{
    min-height: 65px;
    padding: 0 1rem;
    .euiHeaderSectionItem {

        .title-logo{

        }

        &::after{
            width: 0;
        }
    }
}