@import "./scss/index.scss";
body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//Form globals
.submit-error{
  color: $danger;
  margin-top: 1rem;
  font-size: $font-size * .8;
}


//popup mobile menu
.euiPopover__panel.euiPopover__panel-isOpen{
  padding: .5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}