@import "./scss/index.scss";
body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//Form globals
.submit-error{
  color: $danger;
  margin-top: 1rem;
  font-size: $font-size * .8;
}
