$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #000;

$background-light: #fff;
$background-grey-light: #fafafa;
$background-input: #f9f9f9;
$background-default: #fafbfd;

$border-grey: #dbdbdb;
$border-grey-dark: #606060;
$border-dark: #000;

$action: #4166dd;
$danger: #ed4956;
$bronze: #fa8231;
$high-blue: #45aaf2;


//media
$media-desktop: 992px;
$media-mobile: 768px;
$media-small: 450px;

//sizes
$font-size: 16px;

//font
$font: 'Mulish', sans-serif !important;